:root {
  --font-family: "Karla";
  --font-color: #293f42;
  --red-color: hsl(0, 66%, 54%);
  --checkbox-color: hsl(169, 82%, 27%);
  --button-darker: hsl(187, 24%, 22%);
  --border: #0c7d69 solid 1px;
  --border-radio: 0.5rem;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  text-decoration: none;
}

.green-star {
  color: hsl(169, 82%, 27%);
  margin-left: 0.5rem;
}

.invalid {
  &:focus {
    outline: none;
    &:invalid {
      border: 1px solid red;
      & ~ .warning-message {
        display: block;
      }
    }
  }
}

.warning-message {
  margin-top: 0.5rem;
  color: var(--red-color);
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e0f1e7;
  font-family: var(--font-family), sans-serif;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  main {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    .container {
      max-width: 768px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 1.5rem;
      position: relative;
      h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
        line-height: 2rem;
      }
      input {
        height: 50px;
        border: var(--border);
        border-radius: var(--border-radio);
        padding: 0.75rem;
      }
      .row {
        width: 100%;
        padding-bottom: 1.5rem;
      }
      .label-pb {
        margin-bottom: 0.5rem;
      }
      .input-name {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .name-group {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }
      }
      .input-email {
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
        }
      }
      .input-query {
        border: none;
        label {
          height: 50px;
          padding: 0.5rem 1.5rem;
          border: var(--border);
          border-radius: var(--border-radio);
        }
        .radio-button {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          label {
            width: 100%;
            font-size: 1.1rem;
            gap: 1rem;
            display: flex;
            align-items: center;
            input {
              width: 1.25rem;
              height: 1.25rem;
              accent-color: var(--checkbox-color);
            }
          }
        }
      }

      .input-message {
        display: flex;
        flex-direction: column;
        textarea {
          width: 100%;
          height: 6rem;
          padding: 0.5rem 0.75rem;

          border: var(--border);
          border-radius: var(--border-radio);
          resize: vertical;
        }
      }

      .consent {
        display: flex;
        align-items: center;
        input {
          height: auto;
          margin-right: 1rem;
          accent-color: var(--checkbox-color);
        }
      }

      button {
        width: 100%;
        height: 4rem;
        background-color: #0c7d69;
        font-size: 1.15rem;
        color: white;
        border: var(--border);
        border-radius: var(--border-radio);
        cursor: pointer;
        &:hover {
          background-color: var(--button-darker);
        }
      }

      dialog {
        width: 450px;
        padding: 2rem 1rem;
        border: var(--border);
        border-radius: 0.75rem;
        color: white;
        background-color: #064138;
        left: 50%;
        transform: translate(-50%, 0);
        .message-header {
          display: flex;
          flex-wrap: wrap;
          img {
            padding-right: 1rem;
          }
          h2 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 1rem;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 820px) {
  body {
    main {
      width: 736px;
      .container {
        .input-name {
          .name-group {
            width: 49%;
          }
        }
        .input-query {
          .radio-button {
            label {
              width: 49%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #firstNameGroup {
    margin-bottom: 1.5rem;
  }
  body {
    height: auto;
    main {
      margin: 2rem 1rem;
      .container {
        .input-mr {
          margin-right: 0;
        }
        .input-query {
          .radio-button {
            gap: 0.75rem;
          }
        }
        dialog {
          width: 100%;
        }
      }
    }
    footer {
      bottom: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  body {
    height: auto;
  }
}
